@{
    ViewBag.Title = "Trang chủ - Khách hàng - Quên mật khẩu";
    //var ViewBag.Mesage
}
<div id="content" class="float_r">
    <h2>Quên mật khẩu</h2>
    <div class="content_half float_l">
        <div id="contact_form" style="width:auto">
            <div style="font-size:13px">@ViewBag.Message</div>
        </div>
    </div>
</div>