@{
    ViewBag.Title = "Trang chủ - Khách hàng - Đăng nhập";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div id="content" class="float_r">
    <h2>Đăng nhập</h2>
    <div id="contact_form" style="width:280px">
        <form method="post" name="contact" action="@Url.Action("Test_Login","FrontLogin")">

            <label for="author">Tên đăng nhập:</label>
            <input type="text" name="khachhang_username" class="required input_field">
            <div class="cleaner h10"></div>
            <label for="email">Mật khẩu:</label>
            <input type="password" name="khachhang_password" class="validate-email required input_field">
            <div class="cleaner h10"></div>
            <div>
                <input type="checkbox" name="khachhang_remember" value="1">
                Ghi nhớ mật khẩu 
                <div style="float:right">
                <a href="@Url.Action("Index","FrontForgotPassword")">Quên mật khẩu</a>
                </div>
            </div>
            <div class="cleaner h10"></div>
            <input type="submit" class="submit_btn" name="submit" id="submit" value="Đăng nhập">
        </form>
    </div>
</div>
