@model IEnumerable<qdtest.Models.CategoryModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach(var item in Model)
{
    <div>
        id=@item.id
    </div>
    <div>
        name=@item.name
    </div>
    
    <div>
        parent_name=@if(item.parent!=null) { @item.parent.name }
    </div>
    <div>
        @foreach (var post in item.posts)
        {
            <b>
                @post.id
                -
                @post.title
                -
                @post.user.username
                -
            </b>
        }
    </div>
    <br />

}
