@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error 404";
}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>@ViewBag.Title</title>
</head>

<body>
    <br /><br />
    <span style="font-size:40px;font-family:'Comic Sans MS'; color:red; margin-bottom:10px; margin-left:110px"> Error 404:Page not found! </span>
    <br /><br /><br />
    <span style="font-size:20px; color:black; margin-left:180px"> Bạn đi đâu vậy? Quay lại <a href="@Url.Action("Index","FrontHome")">Trang chủ</a> nào! </span>
  <img src="@Url.Content("~/Content/front/images/404.jpg")" alt="Page Not Found (404)." style="position: absolute; left: 50%; top: 50%; margin-left: -170px; margin-top: 10px;">

</body>

</html>

