@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    ViewBag.id = 6;
}

<div id="content" class="float_r">
        	<h1>Giới thiệu</h1>
        	<h2>Lịch sử thành lập</h2>
        <p><a href="@Url.Action("Index","FrontHome")" rel="nofollow">Cửa hàng giày dép BigFoot</a> được hình thành dựa trên các tiêu chí:</p>
        <ul class="tmo_list">
        	<li>Cung cấp những sản phẩm tốt nhất cho khách hàng.</li>
            <li>Chúng tôi xem khách hàng như một thành viên gia đình.</li>
            <li>Luôn tạo sự thoải mái và tiện lợi cho khách hàng khi mua sắm.</li>
            <li>Luôn luôn lắng nghe và luôn luôn thấu hiểu.</li>
		</ul>
        <div class="cleaner h20"></div>
    <div style="width:230px;float:left;margin-left: 25px;margin-right: 100px;">
        <h3 style="background: url('@Url.Content("~/Content/front/images/spirte_contact.png")') no-repeat scroll 0 -20px transparent;display: block;margin: 0 0 5px;padding: 0 0 0 30px;height: 20px;line-height: 20px;">Giải đáp trực tuyến</h3>
        <div class="cleaner"></div>
        <blockquote>
           <strong>Hotline:</strong> <br />
            - 0909.999.99 (Mr. Dũng)<br />
            - 0999.999.99 (Ms. Kim)
        </blockquote>
    </div>
    <div style="width:280px;float:left">
        <h3 style="background: url('@Url.Content("~/Content/front/images/spirte_contact.png")') no-repeat scroll 0 -20px transparent;display: block;margin: 0 0 5px;padding: 0 0 0 30px;height: 20px;line-height: 20px;background-position:0px -62px">Bộ phận kinh doanh</h3>
        <div class="cleaner"></div>
        <blockquote>
          Ms. Kim, phụ trách nhập hàng, thanh toán, bảo hành...<br />
          ĐT Bàn: (08) 39.999.999 - 39.900.900<br />
          Email: <a href="mailto:cuahangbantranh@gmail.com">cuahangbangiay@gmail.com</a><br />
        </blockquote></div>
        </div> 
